.home {
    max-width: 1200px;
    margin: 0 auto;
}

.titleHome {
    font-family: Poppins;
    text-align: center;
    font-size: 2.6rem;

    margin: 3rem 0;
}

.titleHome::after {
    content: '';
    width: 280px;
    height: 4px;
    background-color: #000;
    display: block;
    margin: 0 auto;
}

.news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-gap: 1rem;
}

